.gradle
/build/
lib/
!gradle/wrapper/gradle-wrapper.jar
/app-api/src/main/resources/static/
*.hprof
.DS_Store
*/token.json
dump.rdb

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VisualStudioCode ###
.vscode
/app-ui/.vscode
.history
bin/

# Node
*/node_modules
npm-debug.log
yarn-error.logy

# Miscellaneous
/app-ui/.angular
.sass-cache/
/connect.lock
*/coverage
/libpeerconnection.log
testem.log
/typings
*.exe