.button[type="submit"] {
  background-color: #e0e0e0;
  display: block;
  text-align: center;
  border: 1px solid;
  font-weight: bold;
  padding: 0px 20px;
  outline: none;
  border-radius: 12px;
  transition: 0.25s;
  cursor: pointer;
}

.button[type="submit"]:hover {
  background-color: #c2c2c2;
  color: #535ac8;
}
